/OOP2.iml
/.idea/
/.class/
/out/production/OOP2/animals/Wolf.class
/out/production/OOP2/cage/WolfCage.class
/out/production/OOP2/animals/Animal.class
/out/production/OOP2/cage/AnimalCage.class
/out/production/OOP2/animals/*.class
/out/production/OOP2/cage/*.class
